page-skills {

}

/* alle progress-bars */

.progress-bar {
    width: 80%;
    background-color: #ddd;
    text-align: center;
}

/* ========================================================================= */

/* Developer Skills */

#progress-bar-result-html {
    width: 50%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

#progress-bar-result-css {
    width: 25%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

#progress-bar-result-js {
    width: 00%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

#progress-bar-result-ionic {
    width: 20%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

#progress-bar-result-php {
    width: 10%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

/* ========================================================================= */

/* Beheerders skills */

#progress-bar-result-windows {
    width: 70%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

#progress-bar-result-windows_server {
    width: 30%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

#progress-bar-result-remote_desktop {
    width: 50%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

#progress-bar-result-hyper_v {
    width: 20%;
    height: 30px;
    background-color: #0099FF;
    line-height: 30px;
    color: white;
}

/* ========================================================================= */
